<h1><%=
  if @user_membership_level_names.length > 0
    t('membership.title.is_member')
  else
    t('membership.title.is_not_member')
  end
%></h1>

<% @membership_levels.each do |membership_level| %>
  <h2><%= t("membership.level.#{membership_level.name}.name") %></h2>

  <p><%= t("membership.level.#{membership_level.name}.description") %></p>
  <p><strong><%= membership_level.usd_cost %></strong></p>

  <% if @user_membership_level_names.include?(membership_level.name) %>
    <p><span class="label label-success"><%= t('membership.purchased') %></span></p>
  <% else %>
    <%= link_to t('membership.purchase'), new_membership_path(level: membership_level.name),
      class: 'btn btn-default',
      role: 'button'
    %>
  <% end %>
<% end %>
