<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading"><%= t('home.featurette.one.title') %>
      <span class="text-muted"><%= t('home.featurette.one.subtitle') %></span></h2>

    <p class="lead"><%= t('home.featurette.one.description') %></p>
  </div>

  <div class="col-md-5">
    <%= image_tag 'featurette/cat.jpg', class: 'featurette-image img-responsive center-block', title: 'Mojo' %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading"><%= t('home.featurette.two.title') %>
      <span class="text-muted"><%= t('home.featurette.two.subtitle') %></span></h2>

    <p class="lead"><%= t('home.featurette.two.description') %></p>
  </div>

  <div class="col-md-5 col-md-pull-7">
    <%= image_tag 'featurette/dog2.jpg', class: 'featurette-image img-responsive center-block', title: 'Korra' %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading"><%= t('home.featurette.three.title') %>
      <span class="text-muted"><%= t('home.featurette.three.subtitle') %></span></h2>

    <p class="lead"><%= t('home.featurette.three.description') %></p>
  </div>

  <div class="col-md-5">
    <%= image_tag 'featurette/dog1.jpg', class: 'featurette-image img-responsive center-block', title: 'Sylvia' %>
  </div>
</div>

<hr class="featurette-divider">
