<!doctype html>
<html class="no-js" lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= t 'global.title' %></title>
    <meta name="description" content="<%= t 'global.description' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/nav' %>

    <main class="container" role="main">
      <% if notice %><div class="alert alert-success" role="alert"><%= notice %></div><% end %>
      <% if alert %><div class="alert alert-warning" role="alert"><%= alert %></div><% end %>

      <%= yield %>
    </main>
  </body>
</html>
